<div class="formwrapper">
<center>
<h1>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, :placeholder => 'First Name', required: true, autofocus: true %>
    <br>
    <%= f.input :last_name, :placeholder => 'Last Name', required: true, autofocus: true %>
    <br>
    <%= f.input :user_name, :placeholder => 'Username', required: true, autofocus: true %>
    <br>
    <%= f.input :email, :placeholder => 'Email', required: true, autofocus: true %>
    <br>
    <%= f.input :password, :placeholder => 'Password', required: true %>
    <br>
    <%= f.input :password_confirmation, :placeholder => 'Confirm Password', required: true %>
    <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up"  %>
  </div>
<% end %>

<div class="bottom-links">
    <%= link_to "Already have an account? Sign In", new_user_session_path %>
  </div>

</center>
</div>