<div class="comment clearfix">
  <div class="content">
    <p class="comment_author">
      <%= comment.user.first_name %>
      <%= comment.user.last_name %>
    </p>
    <p class="comment_content">
      <%= comment.comment %>
    </p>
  </div>
  <div class="buttons">
    <%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
    <%= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "Are You Sure?"} %>
  </div>
</div>
