<div class="row">
<div class="filters col-md-3">
<%= render 'filtering' %>
</div>
<div class="jobs col-md-9">
  <% @jobs.each do |job| %>
  <% if job.expire.future? %>
    <div class="job">
      <h2 class="title">
        <%= link_to job.title, job %>
      </h2>
      <p class="date">
        Published at
        <%= time_ago_in_words(job.created_at) %>
        by
        <%= job.employer.name %>
      </p>
    </div>
    <% end %>
  <% end %>
  <%= paginate @jobs %>
</div>
</div>