  <h1>
    <%= @job.title %>
  </h1>
  <p>
    <%= @job.category.name %>
  </p>
  <p>
    <%= @job.job_type.name %>
  </p>
  <p>
    <%= @job.location %>
  </p>
  <p>
    <%= @job.description %>
  </p>
  <p>
    <%= @job.responsibilities %>
  </p>
  <p>
    <%= @job.additional_info %>
  </p>
  <p>
    <%= @job.question %>
  </p>
  <p>
    <%= @job.responses.count %> people have applied to this opportunity
    <br>
    <% if @job.employer=current_employer %>
    <%= link_to "View Responses", job_responses_path(@job), class: "btn btn-default" %>
    <% end %>
  </p>
  <% if current_user %>
  <% if current_user.responses.any? == true && @job.responses.any? == true %>
      <p>You have already applied for this job</p>
  <% else %>
  <p>
    <%= render "responses/form" %>
  </p>
  <% end %>
  <% end %>
  <br/>
  <% if @job.employer=current_employer %>
    <%= link_to "Edit", edit_job_path(@job), class: "btn btn-default" %>
    <%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure you want to do this?" }, class: "btn btn-default" %>
  <% end %>
