  <h1>
    <%= @job.title %>
  </h1>
  <p>
    <%= @job.description %>
  </p>
  <p>
    <%= @job.responsibilities %>
  </p>
  <p>
    <%= @job.additional_info %>
  </p>
  <p>
    <%= @job.question %>
  </p>
  <p>
    <%= @job.responses.count %> people have applied to this opportunity
    <br>
    <%= link_to "View Responses", job_responses_path(@job), class: "btn btn-default" %>
    <%= render @job.responses %>
  </p>
  <p>
    <%= render "responses/form" %>
  </p>
  <br/>
  <%= link_to "Edit", edit_job_path(@job), class: "btn btn-default" %>
  <%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure you want to do this?" }, class: "btn btn-default" %>