<div class="row">
  <div class="col-md-8">
 <div class="job-header">
  <h1 class="job-title">
    <%= @job.title %>
  </h1>
  <div class="job-metadata">
  <p>
    <span class="glyphicon glyphicon-briefcase"></span> <%= @job.category.name %> &nbsp;
    <span class="glyphicon glyphicon-briefcase"></span> <%= @job.industry %> &nbsp;
    <span class="glyphicon glyphicon-time"></span> <%= @job.job_type.name %> &nbsp;
    <span class="glyphicon glyphicon-time"></span> <%= @job.expire %> &nbsp;
    <span class="glyphicon glyphicon-time"></span> <%= @job.duration %> Months&nbsp;
    <span class="glyphicon glyphicon-map-marker"></span> <%= @job.location %> &nbsp;
  </p>
</div>
</div>
<div class="job-details">
  <h2>Job Description</h2>
  <p>
    <%= @job.description %>
  </p>
  <h2>Job Responsibilities</h2>
  <p>
    <%= @job.responsibilities %>
  </p>
  <h2>Additional Info</h2>
  <p>
    <%= @job.additional_info %>
  </p>
</div>
</div>
<div class="col-md-4">
<div class="job-question">
  <p id="question">
    <%= @job.question %>
  </p>
  <p>
    <%= @job.responses.count %> people have applied to this opportunity
    <br>
    <% if @job.employer=current_employer %>
    <div class="job-actions">
    <%= link_to "View Responses", job_responses_path(@job), class: "btn btn-default" %>
    <%= link_to "View Shortlisted", job_shortlists_path(@job), class: "btn btn-default" %>
  </div>
    <% end %>
  </p>
  <% if current_user %>
  <% if current_user.responses.any? == true && @job.responses.any? == true %>
      <p>You have already applied for this job</p>
  <% else %>
  <p>
    <%= render "responses/form" %>
  </p>
  <% end %>
  <% end %>
  <br/>
  <% if @job.employer=current_employer %>
    <%= link_to "Edit", edit_job_path(@job), class: "btn btn-default" %>
    <%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure you want to do this?" }, class: "btn btn-default" %>
  <% end %>
</div>
</div>
</div>