<div class="profile-top">
<center><%= image_tag("default.jpg", class: "avatar")%>
		<div class="name"><b>#<%= @user.id %></b></div>
		<div class="threewords"><%= @user.word1 %>.<%= @user.word2 %>.<%= @user.word3 %></div>
		<div class="location"><span class="glyphicon glyphicon-map-marker"></span> <%= @user.city %></div>
	</center>
</div>
<div class="profile-main">
<div class="about-section">
		<h2 id="section-title"><b>a small introduction</b></h2>
		<hr>
			<p class="about"><%= @user.about %></p>
	</div>
	<br>
	<div class="three-achievements">
		<h2 id="section-title"><b>three things I am most proud of</b></h2>
		<hr>
			<ol class="achievement-list">
				<li><%= @user.achievement1 %></li>
				<li><%= @user.achievement2 %></li>
				<li><%= @user.achievement3 %></li>
			</ol>
	</div>
	<br>
	<div class="three-skills">
		<h2 id="section-title"><b>three things I am best at</b></h2>
		<hr>
			<ol class="skills">
				<li><%= @user.skill1 %></li>
				<li><%= @user.skill2 %></li>
				<li><%= @user.skill3 %></li>
			</ol>
	</div>
	<br>
</div>