<% if profileincomplete(@user) %>
<center>
<h4 class="well" style="width: 60%; line-height: 1.6em;">The profile is incomplete. If you are the owner of this profile please go to the edit profile page and complete your profile.
<br>
If incomplete you won't be able to apply for a job, and the employer won't be able to view your profile.
</h4>
</center>
<% else %>
<div class="container-fluid">
<div class="row user-profile">
	<div class="col-md-6">
		<div class="row">
	<div class="col-md-4">
	<%= image_tag("default.jpg", class: "avatar")%>
</div>
<div class="col-md-8">
		<div class="name"><b>#<%= @user.id %></b></div>
		<div class="threewords"><%= @user.word1 %>.<%= @user.word2 %>.<%= @user.word3 %></div>
		<div class="location"><span class="glyphicon glyphicon-map-marker"></span> <%= @user.city %></div>
		<div class="email-button">
			<% if current_employer %>
			<% if userapplied(@user, current_employer)>0 %>
			<a href="mailto:<%=@user.email%>" class="btn btn-default">Email User</a>
			<% end %>
			<% end %>
		</div>
		<div class="about-section">
					<p class="about"><%= @user.about %></p>
			</div>
	</div>
	</div>

	<br>
	<div class="three-achievements">
		<h2 id="section-title"><b>three things I am most proud of</b></h2>
		<hr>
			<ol class="achievement-list">
				<li><%= @user.achievement1 %></li>
				<li><%= @user.achievement2 %></li>
				<li><%= @user.achievement3 %></li>
			</ol>
	</div>
</div>
	<div class="col-md-6">
	<div class="three-skills">
		<h2 id="section-title"><b>three things I am best at</b></h2>
		<hr>
			<div class="accordion">
    <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-1"><%= @user.skill1 %><span class="skill-meta"><%= @user.proficiency1 %>&nbsp;&nbsp;&nbsp;<%= @user.experience1 %> years</span></a>
        
        <div id="accordion-1" class="accordion-section-content">
            <p><%= @user.skill_desc1 %></p>
        </div>
    </div>
    <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-2"><%= @user.skill2 %><span class="skill-meta"><%= @user.proficiency2 %>&nbsp;&nbsp;&nbsp;<%= @user.experience2 %> years</span></a>
        
        <div id="accordion-2" class="accordion-section-content">
            <p><%= @user.skill_desc2 %></p>
        </div>
    </div>
    <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-3"><%= @user.skill3 %><span class="skill-meta"><%= @user.proficiency3 %>&nbsp;&nbsp;&nbsp;<%= @user.experience3 %> years</span></a>
        
        <div id="accordion-3" class="accordion-section-content">
            <p><%= @user.skill_desc3 %></p>
        </div>
    </div>
		</div>
	</div>
	<br>
	</div>
</div>
</div>
<% end %>