<h1 class="responses-page-title">Shortlisted Responses to <font color="#5a2ca0"><%= @job.title %></font></h1>
<center class="center-button"><%= link_to "Back to Responses", job_responses_path(@job), class: "btn btn-default" %></center>
<% @job.responses.each do |response| %>
<% if response.shortlisted_by_employer==true %>
    <div class="responses">
      <p class="response-body">
        <%= response.response %>
      </p>
      <p class="response-meta">
        Applied
        <%= time_ago_in_words(response.created_at) %>
        ago by
        <%= response.user_id %>
        <span class="shortlist-button">
        <%= link_to "Visit Profile", user_path(response.user_id), class: "btn btn-default" %>
      </span>
      </p>
    </div>
  <% end %>
    <% end %>
    <center><p>If you don't see any responses here, it means you haven't shortlisted any of them yet.</p></center>