<h1 class="responses-page-title">Responses to <font color="#5a2ca0"><%= @job.title %></font></h1>
<center class="center-button"><%= link_to "View Shortlisted", job_shortlists_path(@job), class: "btn btn-default" %></center>
<% if @job.responses.count>=1 %>
<% @job.responses.each do |response| %>
    <div class="responses">
      <p class="response-body">
        <%= response.response %>
      </p>
      <p class="response-meta">
        Applied
        <%= time_ago_in_words(response.created_at) %>
        ago by
        #<%= response.user_id %>
        <span class="shortlist-button">
        <% if response.shortlisted_by_employer==false %>
        <%= link_to "Shortlist", [response.job, response], class: 'btn btn-default', method: :put %>
        <% else %>
        <%= link_to "Remove from Shortlist", [response.job, response], class: 'btn btn-default', method: :patch %>
        <% end %>
      </span>
      </p>
    </div>
  <% end %>
  <% else %>
    <p> No one has responded to your job listing yet. </p>
  <% end %>
