<div class="formwrapper">
<center>
<h1 style="padding: 1em;">Log in</h1>

<%= minimal_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :placeholder => 'Email', required: false, autofocus: true %>
    <%= f.input :password, :placeholder => 'Password', required: false %>
    <%= f.input :remember_me, label: "Should I remember you?", as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<div class="bottom-links">
  <%= render "devise/shared/links" %>
</div>
</center>
</div>