<div class="employer-profile">
<div class="row">
  <div class="col-md-6">
<% if @employer.logo.blank? %>
<% else %>
<center><%= image_tag(@employer.logo.url, class: "company-logo") %>
		<% end %>
    <div class="name"><b><%= @employer.name %></b></div>
    <div class="name"><b><%= @employer.industry %></b></div>
		<div class="description"><%= @employer.description %></div>
    <% if @employer.link.blank? %>
    <% else %>
		<div class="location"><%= link_to @employer.link, @employer.link %></div>
    <% end %>
  </center>
</div>
<div class="col-md-6">
  <h3><b>Jobs Posted</b></h3>
  <% if @employer.jobs.count>0 %>
	<% @employer.jobs.each do |job| %>
    <div class="job">
      <h2 class="title">
        <%= link_to job.title, job %>
      </h2>
      <p class="date">
        Published at
        <%= time_ago_in_words(job.created_at) %>
      </p>
    </div>
  <% end %>
  <% else %>
  <p class="well">The employer has not posted any jobs as of now.<p>
  <% end %>
</div>
</div>
</div>