#post_content
    %h1= @post.title
    %p= @post.content
    %br/
    %hr/
    %br/
    = link_to "Edit", edit_post_path(@post), class: "button"
    = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure" }, class: "button"
    
    #comments
        %h2
            = @post.comments.count
            - if @post.comments.count==1
                Comment
            - else
                Comments
        = render @post.comments
        
        %h3 Reply To Thread
        = render 'comments/form'