<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Prorei</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Slabo+27px::latin,latin-ext' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Ubuntu:400,400italic,700,700italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"></link>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main_header clearfix">
    <div class="wrapper">
      <div id="logo">
        <p>
          <%= link_to image_tag("prorei.png", :alt => "rss feed"), root_path %>
        </p>
      </div>
      <div class="buttons">
        <% if user_signed_in? %>
          <%= link_to "New Post", new_post_path %>
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete  %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <%= render 'layouts/messages' %>
  </div>
  <div class="wrapper">
    <%= yield %>
  </div>
</body>
</html>