<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Prorei</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="wrapper">
          <%= link_to image_tag("prorei.png", :class => "navbar-brand"), root_path %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete  %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
        </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="content-wrapper">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
  <div class="footer">
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
