<%= minimal_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
<%= f.error_notification %>
<center><h2 style="padding: 1em;"><b>edit <font color="#5a2ca0">profile</font></b></h2>
</center>
<div class="row">
  <div class="col-md-6">
    <div class="about-section">
    <h2 id="section-title"><b>personal information</b></h2>
    <hr>
      <p class="about"><%= image_tag(current_user.avatar.url, class: "avatar", style: "margin-bottom: 25px;") %>
      <%= f.input :avatar, required: true %>
      <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :about, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :phone, required: true %>
    <%= f.select :city,
  City.all.map { |u| [u.name, u.name] },
               { include_blank: true },
               { class: 'chosen-select' }
%>
    </p>
  </div>
  <div class="three-words">
    <h2 id="section-title"><b>three words that define me</b></h2>
    <hr>
      <ol class="achievement-list">
        <li><%= f.input :word1, required: true %></li>
        <li><%= f.input :word2, required: true %></li>
        <li><%= f.input :word3, required: true %></li>
      </ol>
  </div>
  </div>
<div class="col-md-6">
  <div class="three-skills">
    <h2 id="section-title"><b>three things I am best at</b></h2>
    <hr>
      <ol class="skills">
        <li><%= f.input :skill1, required: true %></li>
        <div class="skill-meta-dropdowns"><%= f.select :proficiency1, ['Beginner', 'Intermediate', 'Expert'], prompt: "Choose Proficiency", required: true %>
        <%= f.select :experience1, ['less than 1', '1+', '2+','3+','4+'], prompt: "How many years?", required: true %></div>
        <%= f.input :skill_desc1, required: true %>
        <li><%= f.input :skill2, required: true %></li>
        <div class="skill-meta-dropdowns"><%= f.select :proficiency2, ['Beginner', 'Intermediate', 'Expert'], prompt: "Choose Proficiency", required: true %>
        <%= f.select :experience2, ['less than 1', '1+', '2+','3+','4+'], prompt: "How many years?", required: true %></div>
        <%= f.input :skill_desc2, required: true %>
        <li><%= f.input :skill3, required: true %></li>
        <div class="skill-meta-dropdowns"><%= f.select :proficiency3, ['Beginner', 'Intermediate', 'Expert'], prompt: "Choose Proficiency", required: true %>
        <%= f.select :experience3, ['less than 1', '1+', '2+','3+','4+'], prompt: "How many years?", required: true %></div>
        <%= f.input :skill_desc3, required: true %>
        </ol>
  </div>
  <div class="three-achievements">
    <h2 id="section-title"><b>three things i am most proud of</b></h2>
    <hr>
      <ol class="achievement-list">
        <li><%= f.input :achievement1, required: true %></li>
        <li> <%= f.input :achievement2, required: true %></li>
        <li><%= f.input :achievement3, required: true %></li>
      </ol>
  </div>
</div>
</div>
  <div class="security">
    <h2 id="section-title"><b>security</b></h2>
    <hr>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>