<%= minimal_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= f.error_notification :error_html => { :class => "error"} %>
<center><h2 style="padding: 1em;">Edit Profile</h2>
</center>
<div class="profile-main">
<div class="form-inputs">
    <div class="about-section">
    <h2 id="section-title"><b>Personal Information</b></h2>
    <hr>
      <p class="about"><%= image_tag(current_user.avatar.url, class: "avatar", style: "margin-bottom: 25px;") %>
      <%= f.input :avatar, required: true, autofocus: true %>
      <%= f.input :first_name, required: true, autofocus: true %>
    <%= f.input :last_name, required: true, autofocus: true %>
    <%= f.input :about, required: true, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :phone, required: true, autofocus: true %>
    <%= f.input :city, required: true, autofocus: true %>
    </p>
  </div>
  <div class="three-achievements">
    <h2 id="section-title"><b>three words that define me</b></h2>
    <hr>
      <ol class="achievement-list">
        <li><%= f.input :word1, required: true, autofocus: true %></li>
        <li><%= f.input :word2, required: true, autofocus: true %></li>
        <li><%= f.input :word3, required: true, autofocus: true %></li>
      </ol>
  </div>
    <div class="three-achievements">
    <h2 id="section-title"><b>three words that define me</b></h2>
    <hr>
      <ol class="achievement-list">
        <li><%= f.input :achievement1, required: true, autofocus: true %></li>
        <li> <%= f.input :achievement2, required: true, autofocus: true %></li>
        <li><%= f.input :achievement3, required: true, autofocus: true %></li>
      </ol>
  </div>
  <div class="three-skills">
    <h2 id="section-title"><b>three things I am best at</b></h2>
    <hr>
      <ol class="skills">
        <li><%= f.input :skill1, required: true, autofocus: true %></li>
        <li><%= f.input :skill2, required: true, autofocus: true %></li>
        <li><%= f.input :skill3, required: true, autofocus: true %></li>
      </ol>
  </div>
  <div class="three-skills">
    <h2 id="section-title"><b>Security</b></h2>
    <hr>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
  </div>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<br>
<br>
</div>